.gradle
.idea/
!.idea/icon*.png
*.iml
build/
src/main/gen
src/main/resources/templates.list
src/main/resources/gitignore/*
/Readability Score/Problems/Adding values/out/production/classes/*.class
/Readability Score/gradle/wrapper/*.jar
